<div id="character-views">
    <div class="character-view-identity" ng-include="'views/character/identity.html'"></div>
    <div class="character-view" ng-include="'views/character/attributes.html'"></div>
    <div class="character-view" ng-include="'views/character/skills.html'"></div>
    <div class="character-view" ng-include="'views/character/spells.html'"></div>
    <div class="character-view" ng-include="'views/character/passives.html'"></div>
    <div class="character-view" ng-include="'views/character/equipment.html'"></div>
    <div class="character-view" ng-include="'views/character/consumables.html'"></div>
</div>