<div class="row">
    <div class="col-md-offset-4">

        <div class="panel panel-default">

            <div class="panel-heading">
                <strong>Add an attribute</strong>
            </div>

            <div class="panel-body">

                <label class="text-success" ng-show="success">Attribute successfully added</label>
                <label class="text-danger" ng-show="error">Something went wrong..</label>

                <div class="form-group">
                    <label for="name">Name</label>
                    <input id="name" class="form-control" placeholder="Name.." ng-model="attribute.name">
                </div>

                <div class="form-group">
                    <label for="secondary">Secondary</label>

                    <div class="form-control" style="border: none;">
                        <input id="secondary" type="checkbox" ng-model="attribute.secondary">
                    </div>
                </div>

                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea id="description" class="form-control" ng-model="attribute.description"></textarea>
                </div>

                <div class="form-group">
                    <input class="pull-right" type="submit" value="Save to database" ng-click="saveAttribute()">
                </div>
            </div>
        </div>

    </div>
</div>