<div class="row">
    <div class="col-md-offset-4">

        <div class="panel panel-default">

            <div class="panel-heading">
                <strong>Add a consumable</strong>
            </div>

            <div class="panel-body">

                <label class="text-success" ng-show="success">Consumable successfully added</label>
                <label class="text-danger" ng-show="error">Something went wrong..</label>

                <div class="form-group">
                    <label for="name">Name</label>
                    <input id="name" class="form-control" placeholder="Name..">
                </div>

                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea id="description" class="form-control"></textarea>
                </div>

                <div class="form-group">
                    <input class="pull-right" type="submit" value="Save to database">
                </div>
            </div>
        </div>

    </div>
</div>