<div class="row">
    <div class="col-md-offset-4">

        <div class="panel panel-default">

            <div class="panel-heading">
                <strong>Add an attribute</strong>
            </div>

            <div class="panel-body">

                <label class="text-success" ng-show="success">Race successfully added</label>
                <label class="text-danger" ng-show="error">Something went wrong..</label>

                <div class="form-group">
                    <label for="name">Name</label>
                    <input id="name" class="form-control" placeholder="Name.." ng-model="race.name">
                </div>

                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea id="description" class="form-control" ng-model="race.description"></textarea>
                </div>

                <hr>

                <div class="form-group">
                    <label for="rt1Name">1. Racial Trait</label>
                    <input id="rt1Name" class="form-control" placeholder="Name.." ng-model="racialTraits[0].name">
                </div>

                <div class="form-group">
                    <label for="rt1Description">1. Racial Trait Description</label>
                    <textarea id="rt1Description" class="form-control"
                              ng-model="racialTraits[0].description"></textarea>
                </div>

                <div class="form-group">
                    <label for="rt2Name">2. Racial Trait</label>
                    <input id="rt2Name" class="form-control" placeholder="Name.." ng-model="racialTraits[1].name">
                </div>

                <div class="form-group">
                    <label for="rt2Description">2. Racial Trait Description</label>
                    <textarea id="rt2Description" class="form-control"
                              ng-model="racialTraits[1].description"></textarea>
                </div>

                <div class="form-group">
                    <input class="pull-right" type="submit" value="Save to database" ng-click="saveRace()">
                </div>
            </div>
        </div>

    </div>
</div>