<div class="row">
    <div class="col-md-offset-4">

        <div class="panel panel-default">

            <div class="panel-heading">
                <strong>Add a color</strong>
            </div>

            <div class="panel-body">

                <label class="text-success" ng-show="success">Color successfully added</label>
                <label class="text-danger" ng-show="error">Something went wrong..</label>

                <div class="form-group">
                    <label for="color">Color</label>
                    <input id="color" class="form-control" placeholder="Color.." ng-model="color.name">
                </div>

                <div class="form-group">
                    <input class="pull-right" type="submit" value="Save to database" ng-click="admin.saveColor()">
                </div>
            </div>
        </div>

    </div>
</div>