<div>
    <ul class="list-group">
        <li class="list-group-item" ng-repeat="attribute in ::attributes">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12 col-md-12">
                        <h4><strong>{{attribute.name}}</strong></h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-12">
                        <div class="description">{{attribute.description}}</div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>