<div class="information">
    <div class="alert alert-primary" role="alert">
        <label>Races</label>

        <div>Playable races consist of the most common and humanoid species in the world you’re playing in. They all
            have
            some bonuses and some penalties because of their inborn physicality or the way their mind works, making them
            more suitable for specific rolls. However don’t let that affect your decisions too much, because even though
            a
            Viashino might not be the prettiest among the species, it’s still fun to play a charming rogue with them.
        </div>
        <hr>
        <label>Guilds</label>

        <div>Ravnica is ruled by 9 guilds, each with their own responsibility and function to contribute to society.
            Most
            people of Ravnica belong to a guild and are therefore property of said guild. Each guild have their own set
            of
            rules and laws their members must abide by, enforced and controlled by the guild’s master. You too, as a
            character, could have served one of the guilds, making you more efficient in the area of specialization of
            that
            guild. However in order to join the party you need to lose all you affiliations with your Guild, essentially
            becoming Guildless. In order to do so, you need to be exiled or desert yourself, make sure such a thing
            appears
            in your character’s history.
        </div>
        <hr>
        <label>Attributes</label>

        <div>
            Attributes are your inherent talents and physical aptitude that defines the your character in the most
            primal
            sense. For example an Ogre will never be really smart, but makes up for it with brute force, so he won’t
            have a
            lot of points in Intelligence, but has a lot of Strength to compensate. Think of what kind of character you
            want
            to play before rolling attributes, because they will influence what kind of Skills you’ll be using and what
            kind
            of Passives fit your character best. If you’re still on the fence about what kind of character you want to
            play,
            look at the Skills (page 5-11), Passives (page 20-27), Spells (28-40) and Races first.
        </div>
        <hr>
        <label>Rolling Attributes</label>

        <div>
            Attributes can be divided by rolling a D20 for five times in a row, write down the numbers, add and subtract
            any
            bonuses or penalties from your chosen race and then assign each individual roll to an Attribute of your
            liking.
        </div>
        <hr>
        <label>Passives</label>

        <div>These are traits that can add more depth to the playstyle of your character. These passives are what makes
            regular warriors into bloodthirsty barbarians and general mages into anti-magic experts. A lot of these
            passives
            work well or complement each other. You can also pick them to make up for your weaknesses.
            You can pick up to 3 passives (unless stated otherwise), but only from your three highest Attributes. For
            example, if your three highest Attributes are Strength, Endurance and Charisma, you could pick one from each
            or
            pick three from Strength or pick two from Strength and one from Charisma, etc. Every level up you may pick
            another Passive from this list or any other available Passive found in your adventures.
        </div>
        <hr>
        <label>Skills</label>

        <div>Skills represent how much you’ve trained in a specific area of expertise. They are measured in percentages
            and
            whenever you need to roll them you roll with both a D100 and a D10. If you add those numbers and the outcome
            is
            equal or below the percentage of your Skill the roll is successful.
        </div>
        <hr>
        <label>Native Skills</label>

        <div>Some Skills have the word Native behind them. That means that before spending any points on them you need
            to
            calculate the indicated bonuses on that Skill first. Having a lot of points in Strength for example will
            automatically give you more Carry Weight Skill allowing you to carry more in your backpack.
        </div>
        <hr>
        <label>Distributing Skill Points</label>

        <div>The amount of points you can distribute is calculated by taking an Attribute an multiplying it by ten,
            those
            points can be spend in the category of that Attribute. When leveling up you get a permanent +5% bonus for
            every
            skill you’ve successfully rolled your previous level.
        </div>
        <hr>
        <label>Spells</label>

        <div>In and out of combat, there are special abilities you can execute to help you in your quest. These special
            abilities are called Spells. You can pick up to four spells, but only from the categories of your chosen
            colors.
        </div>
        <hr></div>
        <label>Instants & Sorceries</label>

        <div>There are multiple types of spells and they’re treated differently. These are both spells that cost Mana to
            cast them. If you cannot pay the Mana required by the mana cost of these spells, you’re not able to cast
            them.
            Instants, like the name suggests, are spells that take effect immediately in your current combat turn.
            Sorceries
            are spells that have to be channeled at least one turn before taking effect. Some Sorceries can or must be
            channeled additional turns for extra effects.
        </div>
        <hr>
        <label>Components</label>

        <div>Some spells require components before they can be cast. These components often simulate ammunition, but can
            also boost your spells power. Cytoplasm for example, is a magical and biological goo that can absorb,
            transfer
            and boost physical traits, but only if you have at least one unit of it before casting a spell. Such
            components
            can be prepared during resting or meditation, but because they are physical, can also be stolen or
            destroyed.
            Other spells use environmental components like nature, water and fire. Those components are not destroyed
            when
            cast and boost the spells power for the density of it.
        </div>
        <hr>
        <label>Abilities</label>

        <div>Abilities are spells that don’t require Mana to cast them, but all have an individual condition that must
            be
            fulfilled. For example, some of these spells can only target humanoids and you need to have a blade weapon
            equipped to cast it. These are especially handy if you’re focusing on combat without relying on your Mana
            too
            much. They do count as the total spells you’re allowed to choose.
        </div>
        <hr>
        <label>Equipment</label>

        <div>Equipment is the term used for all items, weapons, armor, trinkets, gadgets and consumables you use during
            an
            adventure. Some of these are chosen from the lists below and some of them you start out with automatically
            if
            you own a specific skill or set of spells.
        </div>
        <hr>
        <label>Skill-Bound Items</label>

        <div>Skills that allow you to create items, like Crafting, Alchemy and Tinkering, grant a basic creation kit
            that
            allows you to make simple stuff. For example with an Alchemy starters kit you can make some salves against
            bleeding and basic Tinkering allows you to repairs someone’s cannon. If you want to make more complex items
            like
            gadgets and traps, you need to buy materials and components from stores and vendors who sell them. The
            Crafting
            kit cost 15 carry weight, the Alchemy kit 5 and the Tinkering kit 10. Most Consumables like Elixirs, Potions
            and
            Poisons in flasks or cups cost 1 carry weight.
        </div>
    </div>
</div>